// Colors
$off-black: rgb(17, 17, 17);
$nav-black: rgb(10, 10, 10);
$off-green: #14A76C;
$off-purple: #230c69;
$off-grey: rgb(139, 139, 139);
$off-white: rgb(195, 195, 195);

// Sizes
$huge-size: 6rem;
$xxl-size: 5rem;
$xl-size: 4rem;
$lg-size: 3rem;
$md-size: 2rem;
$sm-size: 1.8rem;
$s-size: 1.5rem;
$xs-size: 1.3rem;
$xxs-size: 1rem;

// Shadows
$text-shadow-purple: 1px 1px 10px $off-purple, -1px -1px 10px $off-purple;
$box-shadow-purple: 1px 1px 4px $off-purple, -1px -1px 4px $off-purple;

// Breakpoints
$lg-breakpoint: 1024px;
$md-breakpoint: 768px;
$sm-breakpoint: 641px;
$xs-breakpoint: 480px;