.about {
  width: 100vw;
  background: $off-black;
  padding: 70px;

  // About

  .my-info-container {
    width: 100%;
  }

  h1 {
    color: $off-white;
    text-shadow: $text-shadow-purple;
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
  }

  .white-line {
    height: 10px;
    width: 60%;
    margin: 10px auto;
    background: white;
    border-radius: 999px;
  }

  .about-area {
    display: flex;
    width: 50%;
    margin: 0 auto;
  }

  .about-left,
  .about-middle,
  .about-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
  }
    .about-left h2,
    .about-middle h2 {
      margin-top: 10px;
      color: $off-grey;
      font-size: 1.8rem;
      text-transform: uppercase;
    }

    .about-right h2 {
      margin-top: 10px;
      color: $off-white;
      font-size: 1.8rem;
    }

    // Personal & Summary
    
      .personal-area,
      .summary-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        margin: 0 auto;
      }
    
    .about-text,
    .summary-text {
      font-size: 1.8rem;
      color: $off-grey;
      margin: 10px auto;
      text-align: center;
    }
    // Media
    // 1024px
    @media screen and (max-width: $lg-breakpoint) {
      .about-area {
        width: 90%;
      }
      .personal-area,
      .summary-area {
        width: 90%;
      }
      h1 {
        font-size: 4rem;
      }
      .white-line {
        width: 90%;
      }
    }
    // 641px
    @media screen and (max-width: $sm-breakpoint) {
      .about-left h2,
      .about-middle h2,
      .about-right h2 {
        font-size: 1rem;
      }
      h1 {
        font-size: 3rem;
      }
      .about-text,
      .summary-text {
      font-size: 1rem;
    }
    }
}

