.contact {
  width: 100vw;
  background: $off-black;
  overflow: hidden;

  h1 {
    font-size: $xxl-size;
    color: $off-white;
    text-shadow: $text-shadow-purple;
    text-transform: uppercase;
    margin-top: 7vh;
    text-align: center;
  }
}

// Media
// 1024
  @media screen and (max-width: $lg-breakpoint) {
    h1 {
      font-size: $xl-size;
    }
  }