nav {
  position: fixed;
  top: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 70px;
  z-index: 999;

  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 40px;
  }

  .github-icon {
    color: linear-gradient(90deg, #3609bd, #3a2088);
    font-size: $md-size;
  }

  h1 {
    color: $off-white;
    font-size: $xs-size;
    text-shadow: $text-shadow-purple;
  }

  ul {
    font-size: $md-size;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-shadow: $text-shadow-purple;
    flex: auto;
    list-style: none;
  }

  li {
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: $off-white;
  }

  .nav-button {
    display: none;
  }

  // Media
  // 1024px
  @media screen and (max-width: $lg-breakpoint) {
    .github-icon {
      font-size: $sm-size;
    }
    h1 {
      font-size: $xs-size;
    }
  }
  // 768px
  @media screen and (max-width: $md-breakpoint) {
    ul {
      display: none;
    }
    .nav-button {
      font-size: $lg-size;
      display: block;
      color: $off-purple;
      margin: auto 50px auto auto;
      cursor: pointer;
    }
  }
}

// Small Screen Menu

.nav-button-list {
  background: $off-black;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 8vh;
  height: 92vh;
  width: 100vw;
  z-index: 900;
  font-size: $xl-size;
  text-shadow: $text-shadow-purple;

  li {
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: $off-white;
  }

  li:hover {
    transform: scale(1.2);
  }
}
