nav {
  position: sticky;
  top: 0;
  display: flex;
  background: $off-black;
  width: 100vw;
  height: 70px;
  z-index: 999;
  overflow: hidden;

  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 40px;
  }

  .github-icon {
    color: $off-purple;
    font-size: 2.2rem;
  }

  h1 {
    color: black;
    font-size: 1.5rem;
    text-shadow: $text-shadow-purple;
    pointer-events: none;
  }

  ul {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-shadow: $text-shadow-purple;
    flex: auto;
    list-style: none;
  }

  li {
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .nav-button {
    display: none;
  }

  // Media
  // 1024px
  @media screen and (max-width: $lg-breakpoint) {
    .github-icon {
      font-size: 1.8rem;
    }
    h1 {
      font-size: 1.3rem;
    }
  }
  // 768px
  @media screen and (max-width: $md-breakpoint) {
    ul {
      display: none;
    }
    .nav-button {
      font-size: 3rem;
      display: block;
      margin: auto 50px auto auto;
    }
  }
}
