.projects {
   width: 100vw;
   background: $off-black;

   h1 {
      font-size: $xxl-size;
      color: $off-white;
      text-shadow: $text-shadow-purple;
      text-transform: uppercase;
      margin-top: 7vh;
      text-align: center;
   }

   .project-container {
      display: flex;
      width: 80%;
      margin: 10px auto;
   }

   .project-text-area {
      display: flex;
      flex-direction: column;
      width: 70%;
      padding: 0 30px;

      h2 {
         font-size: $lg-size;
         text-align: center;
         text-transform: uppercase;
         color: $off-white;
         text-shadow: $text-shadow-purple;
      }

      h3 {
         font-size: $sm-size;
         text-align: center;
         color: $off-grey;
         margin: 0 auto 10px auto;
      }
   }

   .project-info {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
   }

   .project-learned {
      flex: 3;
      margin-right: 20px;

      h3 {
         color: $off-white;
         text-shadow: $text-shadow-purple;
         font-size: $md-size;
      }

      li {
         color: $off-grey;
         font-size: $s-size;
         text-align: center;
         margin: 10px auto;
      }
   }

   .project-stack {
      flex: 1;

      h3 {
         color: $off-white;
         text-shadow: $text-shadow-purple;
         font-size: $md-size;
      }

      ul {
         display: flex;
         justify-content: space-around;
         margin: 10px auto;
         font-size: $xl-size;
         text-align: center;
      }
   }

   .project-buttons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 10px auto;
      width: 90%;

      a {
         padding: 12px 36px;
         margin: 10px 0;
         color: $off-white;
         text-shadow: $text-shadow-purple;
         text-decoration: none;
         text-transform: uppercase;
         font-size: $md-size;
         border-radius: 40px;
         background: linear-gradient(90deg,#3609bd,#3a2088);
      }
      a:hover {
         transform: scale(1.1);
      }
   }

   .project-img-area {
      display: flex;
      width: 30%;
      border-radius: 30px;
   }

   .project-choice {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 70%;
      margin: 0 auto;
      padding: 20px;

      button {
      padding: 12px 36px;
      margin: 10px 0;
      color: $off-white;
      text-shadow: $text-shadow-purple;
      text-transform: uppercase;
      font-size: $md-size;
      border-radius: 40px;
      background: linear-gradient(90deg,#3609bd,#3a2088);
      border: none;
      outline: none;
      cursor: pointer;
      }

      button:hover {
         transform: scale(1.1);
      }
   }

   .my-current-project {
      margin: 0 auto;
      width: 90%;

      h3 {
         font-size: $sm-size;
         text-align: center;
         color: $off-grey;
         margin: 0 auto;
      }
      .my-current-project-buttons {
         display: flex;
         justify-content: space-around;
         align-items: center;
         height: 150px;

         a {
            padding: 12px 36px;
            background: linear-gradient(90deg,#3609bd,#3a2088);
            border-radius: 40px;
            text-transform: uppercase;
            text-decoration: none;
            color: $off-white;
            text-shadow: $text-shadow-purple;
            font-size: $md-size;
         }
         a:hover {
            transform: scale(1.1);
         }
      }
      // 930 px
      @media screen and (max-width: 930px) {
         .my-current-project-buttons a {
            font-size: $sm-size;
         }
      }
      @media screen and (max-width: $md-breakpoint) {
         .my-current-project-buttons {
            flex-direction: column;
         }
         .my-current-project-buttons a {
            font-size: 1.2rem;
            margin-top: 10px;
         }
         .my-current-project-buttons a:first-child {
            padding: 12px 44.8px;
         }
      }
   }

   // Media
   // 1540px
   @media screen and (max-width: 1540px) {
      .project-stack ul {
         flex-direction: column;
      }
   }
   // 1440px
   @media screen and (max-width: 1440px) {
      .project-choice button {
         font-size: $sm-size;
      }
   }
   // 1330px
   @media screen and (max-width: 1330px) {
      .project-choice button {
         font-size: $s-size;
      }
   }

   // 1180px
   @media screen and (max-width: 1180px) {
      .project-choice button {
         font-size: $xs-size;
      }
      .project-img-area {
         display: none;
      }
      .project-img-area img {
         display: none;
      }
      .project-text-area {
         width: 100%;
      }
   }
   // 1070
   @media screen and (max-width: 1070px) {
      .project-choice button {
         font-size: 1.2rem;
      }
   }
   // 1024
   @media screen and (max-width: $lg-breakpoint) {
      .project-container {
         width: 95%;
      }
      .project-choice {
         width: 90%;
      }
      .project-choice button {
         font-size: $s-size;
      }
      h1 {
         font-size: $xl-size;
      }
      .project-text-area h2 {
         font-size: 2.5rem;
      }
      .project-text-area h3 {
         font-size: $s-size;
      }
      .project-learned h3,
      .project-stack h3{
         font-size: $sm-size;
      }
   }
   // 930
   @media screen and (max-width: 930px) {
      .project-choice button {
         font-size: 1.2rem;
      }
      .project-buttons a {
         font-size: $sm-size;
      }
   }
   // 768
   @media screen and (max-width: $md-breakpoint) {
      .project-choice {
         flex-direction: column; 
      }
      .project-choice button {
         font-size: 2rem;
      }
      .project-choice button:nth-child(3) {
         padding: 12px 71px;
      }
      .project-buttons a {
         font-size: 1.2rem;
      }
      .project-info {
         flex-direction: column;
      }
      .project-stack ul {
         flex-direction: row;
      }
   }
   // 641
   @media screen and (max-width: $sm-breakpoint) {
      .project-buttons {
         flex-direction: column;
      }
      .project-choice button {
         font-size: 1rem;
      }
      .project-choice button:first-child,
      .project-choice button:nth-child(2) {
         padding: 12px 54.5px;
      }
      .project-buttons a:first-child {
         padding:12px 45.5px;
      }
      .project-learned p {
         font-size: $xs-size;
      }
   }
}